
<%- include("../partials/header") %>



<div class="container">
<div class="jumbotron text-center">
	<h1 >
		Edit comment
	
</h1>
<form action ="/destination/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT"  method="POST">

	   <br>
	<input type="text" class="btn  btn-lg btn-light w-50 p-2 " name="comment[text]"
		  value="<%=comment.text%>" >
	
	<br>
	<br>

	<br><button class="btn  btn-lg btn-primary">
	Submit
	</button>
</form>
</div>
</div>

<%- include("../partials/footer") %>
